{% extends "base.html" %}
{% block windowtitle %}{{ article.title }}{% endblock %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div>{{ article.content }}</div>
	
        <hr>
    	   
        <h2>Comments</h2>
	{% include "twitter.html" %}
	{% include "hn.html" %}
	{% include 'disqus.html' %}
    </div>
{% endblock %}
{% block customscripts %}
    {% if HNSHARE_ENABLED %}
    <script>
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = '//hnbutton.appspot.com/static/hn.min.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
    {% endif %}
{% endblock %}
